{% extends 'base.html' %}
{% block title%}Home{% endblock %} 
{% block content %}
{% for guest in guests %}
<div class="card ">
    <div class="card-body">
      <h5 class="card-title">{{guest.author_name}} ({{guest.author_email}})</h5>
      <div class='card-link'>
      <a href="{% url 'guest_update' guest.pk %}" title='Редактировать'><i class="fa-solid fa-pen-to-square"></i></a>
      <a href="{% url 'guest_delete' guest.pk %}" title='Удалить'><i class="fa-solid fa-eraser"></i></a>
      </div>
      <p class="card-text">{{guest.text}}</p>
    </div>
  </div>
  
          {% endfor %}
{% endblock %}